


a{
  color: black;
  text-decoration: none;
}

a:hover{
  color: skyblue;
}

/* picutre */


.wrapper {
  max-width: 1000px;
  margin: 0 auto;
}


/*title*/
.header2{
  background: #bdb76b;
  max-width: 1000px;
  height: 130px;
  margin: 10;
  text-align: center;
}
.headfont{
  background: #ffffe0;
  text-align:justify,center;
  margin-top:0px;
  padding: 10;
  font-size: 52px;
  font-family: 'Segoe Print',sans-serif;
}

/*itirann */
/*
.header3{
  background: pink;
  max-width: 1000px;
  height: 40px;
  text-align: center;
}
*/


header {
  background: tomato;
  height: 40px;
}
.container {
  display: flex;
}

/* メインバー */
.main {
  background: whites;
  height: 600px;
  width: 70%;
}


.main2 {
  background: ;
  height: 40px;
  width: 100%;
  margin-top: 10px;
  margin-left: 10px;
  border-bottom:  double 4px #d2691e;
}

.mainfont{
  text-align:;
  margin-top:20px;
  padding: 10;
  font-size: 30px;
  font-weight: 600;

  font-family: "HG正楷書体-PRO";
}

.main3 {
  display: flex;
  background: ;
  height: 400px;
  width: 98%
  margin-top: 10px;
  margin-left: 10px;
  font-size:24px;
  font-family: "HG正楷書体-PRO";
}

.main3font{
  display: flex;
  background: ;
  line-height: 1.3;
  font-size:24px;
  font-family: "HG正楷書体-PRO";
}


.float-box{
  background: ;
  margin-top: 10;
  margin-left: 20;
  height: 100px;
  width: 70%;
}

.material{
  background: d;
  text-align:;
  line-height: 1.3;
  margin-top:px;
  padding: 10;
  font-size:18px;
  font-family: "HG正楷書体-PRO";
  width:40%;
  height:100px;
  }



.recipefont{

  text-align:;
  line-height: 1.3;
  margin-top:12px;
  padding: 10;
  font-size:18px;

  font-family: "HG正楷書体-PRO";
  }


/* サイドバー */
.side {
  background: white;
  width: 30%;
  height: 200px;
}
.sidein{
  margin:20px;
  padding: ;
  background: orange;
  height: 30px;
  font-family: 'Segoe Print',sans-serif;
}
.sidefont{
  text-align:left;
  margin:5px;
  padding:4px;
  font-size: 18px;
  font-family: 'Segoe Print',sans-serif;
  color: black;
}

.sidefont2{
  text-align: left;
  line-height: 1.5;
  margin:10px;
  padding: 3px;
  font-size: 16px;
  font-family: 'Yu Mincho Light','YuMincho','Yu Mincho','游明朝体','Yu Gothic UI',sans-serif;
  color: black;
}


footer {
  background: plum;
  max-width: 1000px;
  height: 100px;
}
